
@using ExcelFormLuiza.Models;
@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}
<form method="post" asp-controller="Home" asp-action="ExportExcel">
        <input type="submit" value="Export" class="btn btn-primary"/>
</form>

@if (Model.Count() > 0 )
{
    <table class="table table-bordered">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.first_name</td>
                <td>@user.last_name</td>
                <td>@user.phone</td>
                <td>@user.email</td>
                <td>@user.street</td>
                <td>@user.city</td>
                <td>@user.state</td>
                <td>user.zip_code</td>
            </tr>
        }
  
    </table>

}

<script>

</script>